TrabalhoWeb2/Service References/WSAula/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6742/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6742/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6742/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrabalhoWeb2.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_verificaLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:verificaLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_verificaLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:verificaLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:adicionaUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:adicionaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionaAgenda_InputMessage">
    <wsdl:part name="parameters" element="tns:adicionaAgenda" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionaAgenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:adicionaAgendaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionaParticipante_InputMessage">
    <wsdl:part name="parameters" element="tns:adicionaParticipante" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionaParticipante_OutputMessage">
    <wsdl:part name="parameters" element="tns:adicionaParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_lstCompromissos_InputMessage">
    <wsdl:part name="parameters" element="tns:lstCompromissos" />
  </wsdl:message>
  <wsdl:message name="IService1_lstCompromissos_OutputMessage">
    <wsdl:part name="parameters" element="tns:lstCompromissosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_lstUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:lstUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_lstUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:lstUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_lstParticipantesCompromisso_InputMessage">
    <wsdl:part name="parameters" element="tns:lstParticipantesCompromisso" />
  </wsdl:message>
  <wsdl:message name="IService1_lstParticipantesCompromisso_OutputMessage">
    <wsdl:part name="parameters" element="tns:lstParticipantesCompromissoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_lstUsuarioParticipantes_InputMessage">
    <wsdl:part name="parameters" element="tns:lstUsuarioParticipantes" />
  </wsdl:message>
  <wsdl:message name="IService1_lstUsuarioParticipantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:lstUsuarioParticipantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_retornaCompromisso_InputMessage">
    <wsdl:part name="parameters" element="tns:retornaCompromisso" />
  </wsdl:message>
  <wsdl:message name="IService1_retornaCompromisso_OutputMessage">
    <wsdl:part name="parameters" element="tns:retornaCompromissoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_retornaUsuarioPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:retornaUsuarioPorID" />
  </wsdl:message>
  <wsdl:message name="IService1_retornaUsuarioPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:retornaUsuarioPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_retornaUsuarioPorLOGIN_InputMessage">
    <wsdl:part name="parameters" element="tns:retornaUsuarioPorLOGIN" />
  </wsdl:message>
  <wsdl:message name="IService1_retornaUsuarioPorLOGIN_OutputMessage">
    <wsdl:part name="parameters" element="tns:retornaUsuarioPorLOGINResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_verificaParticipante_InputMessage">
    <wsdl:part name="parameters" element="tns:verificaParticipante" />
  </wsdl:message>
  <wsdl:message name="IService1_verificaParticipante_OutputMessage">
    <wsdl:part name="parameters" element="tns:verificaParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_excluirParticipantes_InputMessage">
    <wsdl:part name="parameters" element="tns:excluirParticipantes" />
  </wsdl:message>
  <wsdl:message name="IService1_excluirParticipantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:excluirParticipantesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="verificaLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/verificaLogin" message="tns:IService1_verificaLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/verificaLoginResponse" message="tns:IService1_verificaLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="adicionaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/adicionaUsuario" message="tns:IService1_adicionaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/adicionaUsuarioResponse" message="tns:IService1_adicionaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="adicionaAgenda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/adicionaAgenda" message="tns:IService1_adicionaAgenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/adicionaAgendaResponse" message="tns:IService1_adicionaAgenda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="adicionaParticipante">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/adicionaParticipante" message="tns:IService1_adicionaParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/adicionaParticipanteResponse" message="tns:IService1_adicionaParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lstCompromissos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/lstCompromissos" message="tns:IService1_lstCompromissos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/lstCompromissosResponse" message="tns:IService1_lstCompromissos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lstUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/lstUsuario" message="tns:IService1_lstUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/lstUsuarioResponse" message="tns:IService1_lstUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lstParticipantesCompromisso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/lstParticipantesCompromisso" message="tns:IService1_lstParticipantesCompromisso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/lstParticipantesCompromissoResponse" message="tns:IService1_lstParticipantesCompromisso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lstUsuarioParticipantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/lstUsuarioParticipantes" message="tns:IService1_lstUsuarioParticipantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/lstUsuarioParticipantesResponse" message="tns:IService1_lstUsuarioParticipantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retornaCompromisso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/retornaCompromisso" message="tns:IService1_retornaCompromisso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/retornaCompromissoResponse" message="tns:IService1_retornaCompromisso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retornaUsuarioPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/retornaUsuarioPorID" message="tns:IService1_retornaUsuarioPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/retornaUsuarioPorIDResponse" message="tns:IService1_retornaUsuarioPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retornaUsuarioPorLOGIN">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/retornaUsuarioPorLOGIN" message="tns:IService1_retornaUsuarioPorLOGIN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/retornaUsuarioPorLOGINResponse" message="tns:IService1_retornaUsuarioPorLOGIN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verificaParticipante">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/verificaParticipante" message="tns:IService1_verificaParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/verificaParticipanteResponse" message="tns:IService1_verificaParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="excluirParticipantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/excluirParticipantes" message="tns:IService1_excluirParticipantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/excluirParticipantesResponse" message="tns:IService1_excluirParticipantes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="verificaLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/verificaLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adicionaUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/adicionaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adicionaAgenda">
      <soap:operation soapAction="http://tempuri.org/IService1/adicionaAgenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adicionaParticipante">
      <soap:operation soapAction="http://tempuri.org/IService1/adicionaParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lstCompromissos">
      <soap:operation soapAction="http://tempuri.org/IService1/lstCompromissos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lstUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/lstUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lstParticipantesCompromisso">
      <soap:operation soapAction="http://tempuri.org/IService1/lstParticipantesCompromisso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lstUsuarioParticipantes">
      <soap:operation soapAction="http://tempuri.org/IService1/lstUsuarioParticipantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaCompromisso">
      <soap:operation soapAction="http://tempuri.org/IService1/retornaCompromisso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaUsuarioPorID">
      <soap:operation soapAction="http://tempuri.org/IService1/retornaUsuarioPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaUsuarioPorLOGIN">
      <soap:operation soapAction="http://tempuri.org/IService1/retornaUsuarioPorLOGIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaParticipante">
      <soap:operation soapAction="http://tempuri.org/IService1/verificaParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirParticipantes">
      <soap:operation soapAction="http://tempuri.org/IService1/excluirParticipantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:6742/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>