TrabalhoWeb2/Service References/WSAula/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrabalhoWeb2.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrabalhoWeb2.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Agenda">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgendaId" type="xs:int" />
      <xs:element minOccurs="0" name="DataCompromisso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agenda" nillable="true" type="tns:Agenda" />
  <xs:complexType name="Participantes">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgendaId" type="xs:int" />
      <xs:element minOccurs="0" name="ParticipantesID" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participantes" nillable="true" type="tns:Participantes" />
  <xs:complexType name="ArrayOfAgenda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agenda" nillable="true" type="tns:Agenda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgenda" nillable="true" type="tns:ArrayOfAgenda" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="ArrayOfParticipantes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participantes" nillable="true" type="tns:Participantes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipantes" nillable="true" type="tns:ArrayOfParticipantes" />
</xs:schema>